<md-content layout-padding>
  <div layout-gt-sm="row">
    <div flex-gt-sm=50>

    <!-- TODO: foyer du 1er parent si personne.estIndependanceFinanciere (?quelles vars?) -->
    <h2>Foyer du 2ème parent</h2>

    <div layout="column">
      <base-input-container src="$ctrl" var="personne.nbAdultesFoyer2"></base-input-container>
      <base-input-container src="$ctrl" var="personne.nbEnfantsFoyer2"></base-input-container>
      <base-input-container src="$ctrl" var="personne.revenuNetFoyer2"></base-input-container>
      <base-input-container src="$ctrl" var="personne.troisiemePilierFoyer2"></base-input-container>
      <base-input-container src="$ctrl" var="personne.fortuneMobiliereFoyer2"></base-input-container>

      <md-checkbox class="md-primary" ng-model="$ctrl.personne.estProprietaireFoyer2" aria-label="Autre immobilier">
        Sont-il propriétaire?
      </md-checkbox>

      <div ng-if="$ctrl.personne.estProprietaireFoyer2" layout="column">
        <base-input-container src="$ctrl" var="personne.fortuneImmobiliereFoyer2"></base-input-container>
        <base-input-container src="$ctrl" var="personne.autresFortuneImmobiliereFoyer2"></base-input-container>
        <base-input-container src="$ctrl" var="personne.fraisAccessoiresFoyer2"></base-input-container>
      </div>
 </div>
    </div>
    <div flex-gt-sm="10">

    </div>
    <div flex-gt-sm="40">
      <img src="../../assets/dedale-horizontal-small.jpg" width="100%">
    </div>
  </div>
      <div layout="row" class="nav-bottom">
        <md-button ui-sref="bourse.revenusAuxiliaires({index: $ctrl.index})" class="md-primary">Précédent</md-button>
        <span flex></span>
        <md-button ng-if="$ctrl.index < $ctrl.sim.etudiants.length - 1" ui-sref="bourse.formation({index: $index + 1})" class="md-primary md-hue-2 md-raised">Suivant</md-button>
        <md-button ng-if="$ctrl.index == $ctrl.sim.etudiants.length - 1" ui-sref="bourseEstimation" class="md-primary md-hue-2 md-raised">Suivant</md-button>
      </div>
</md-content>
