<md-content layout-padding>
  <div layout-gt-sm="row">
    <div flex-gt-sm=50>
      <h2>Revenus auxiliaires</h2>

      <div layout="column">
        <base-input-container src="$ctrl" var="personne.revenueAuxiliaireContributionsEntretien"></base-input-container>
        <base-input-container src="$ctrl" var="personne.revenueAuxiliairesAutresPrestationsFinancieres"></base-input-container>
      </div>
    </div>
    <div flex-gt-sm="10">

    </div>
    <div flex-gt-sm="40">
      <img src="../../assets/dedale-horizontal-small.jpg" width="100%">
    </div>
  </div>

  <div layout="row" class="nav-bottom">
    <md-button ng-if="$ctrl.personne.aParentLogementAutreFoyer" ui-sref="bourse.formation({index: $ctrl.index})" class="md-primary">Précédent</md-button>
    <span flex></span>
    <md-button ng-if="$ctrl.personne.aParentLogementAutreFoyer" ui-sref="bourse.parents({index: $ctrl.index})" class="md-primary md-hue-2 md-raised">Suivant</md-button>

    <md-button ng-if="!$ctrl.personne.aParentLogementAutreFoyer && $ctrl.index < $ctrl.sim.etudiants.length - 1" ui-sref="bourse.formation({index: $index + 1})"
      class="md-primary md-hue-2 md-raised">Suivant</md-button>
      <md-button ng-if="!$ctrl.personne.aParentLogementAutreFoyer && $ctrl.index == $ctrl.sim.etudiants.length - 1" ui-sref="bourseEstimation"
        class="md-primary md-hue-2 md-raised">Suivant</md-button>
  </div>
</md-content>