<base-nav></base-nav>
<md-content layout-padding>
  <div layout="column" class="estimation-table-box">
    <h2>Estimation des prestations complémentaires (PC)</h2>
    <div ng-if="$ctrl.sim.pc.conditions">
      <div class="table">
        <div class="table-row">
          <div>Revenus du foyer</div><div flex></div>
          <div>{{ $ctrl.sim.pc.revenus.revenus|number }} CHF/an</div>
        </div>
        <div class="table-row">
          <div>Dépenses</div><div flex></div>
          <div>{{ $ctrl.sim.pc.depenses.depenses|number }} CHF/an</div>
        </div>
        <div class="divider"></div>
        <div class="table-row total">
          <div>Subside estimé</div><div flex></div>
          <div>{{ $ctrl.sim.pc.estimationSubsidePC|number }} CHF/an</div>
        </div>
      </div>

      <div ng-if="$ctrl.sim.pc.estimationSubsidePC > 0">
        <p>En tant que bénéficiaire de prestations complémentaires, vous bénéficiez également d'un remboursement partiel des
          frais de santé jusqu'à la hauteur de {{ $ctrl.sim.pc.subsideFraisMaladie|number }} CHF/an ainsi que de l'exonération
          de la redevance radio/TV.</p>
      </div>

      <md-checkbox class="md-primary" ng-model="details" aria-label="Détails">Afficher les détails de l'estimation</md-checkbox>
      <div ng-if="details">
        <div class="table">
          <h3>Revenus</h3>
          <div class="table-row">
            <div>Revenu net</div><div flex></div>
            <div>{{ $ctrl.sim.pc.revenus.revenuBase|number }} CHF/an</div>
          </div>
          <div class="table-row">
            <div>Rentes AVS/AI/APG</div><div flex></div>
            <div>{{ $ctrl.sim.pc.revenus.revenuRentes|number }} CHF/an</div>
          </div>
          <div class="table-row">
            <div>Prévoyance</div><div flex></div>
            <div>{{ $ctrl.sim.pc.revenus.revenuPrevoyance|number }} CHF/an</div>
          </div>
          <div class="table-row">
            <div>Revenu de la fortune</div><div flex></div>
            <div>{{ $ctrl.sim.pc.revenus.revenuFortune|number }} CHF/an</div>
          </div>
          <div class="table-row">
            <div>Imputation de la fortune</div><div flex></div>
            <div>{{ $ctrl.sim.pc.revenus.imputationFortune|number }} CHF/an</div>
          </div>
          <div ng-if="$ctrl.sim.estProprietaire">
            <div>Valeur locative logement</div><div flex></div>
            <div>{{ $ctrl.sim.pc.revenus.valeurLocativeLogement|number }} CHF/an</div>
          </div>
          <div class="divider"></div>
          <div class="table-row total">
            <div>TOTAL DES REVENUS</div><div flex></div>
            <div>{{ $ctrl.sim.pc.revenus.revenus|number }} CHF/an</div>
          </div>

          <h3>Dépenses</h3>
          <div class="table-row">
            <div>Couverture des besoins vitaux</div><div flex></div>
            <div>{{ $ctrl.sim.pc.depenses.besoinsVitaux|number }} CHF/an</div>
          </div>
          <div class="table-row">
            <div>Forfait assurance maladie (canton: {{ $ctrl.sim.pc.depenses.primeMaladie.canton }}, région: {{ $ctrl.sim.pc.depenses.primeMaladie.region
              }})</div><div flex></div>
            <div>{{ $ctrl.sim.pc.depenses.primesAssuranceMaladie|number }} CHF/an</div>
          </div>
          <div class="table-row">
            <div>Forfait loyer</div><div flex></div>
            <div>{{ $ctrl.sim.pc.depenses.depensesLoyer|number }} CHF/an</div>
          </div>
          <div class="table-row">
            <div>Cotisations AVS/AI/APG</div><div flex></div>
            <div>{{ $ctrl.sim.pc.depenses.cotisationsAVS|number }} CHF/an</div>
          </div>
          <div class="table-row">
            <div>Contributions d'entretien</div><div flex></div>
            <div>{{ $ctrl.sim.pc.depenses.contributionsEntretien|number }} CHF/an</div>
          </div>
          <div class="divider"></div>
          <div class="table-row total">
            <div>TOTAL DES DEPENSES</div><div flex></div>
            <div>{{ $ctrl.sim.pc.depenses.depenses|number }} CHF/an</div>
          </div>

          <h3>Résultats</h3>
          <div class="table-row total">
            <div>Estimation montant annuel</div><div flex></div>
            <div>{{ $ctrl.sim.pc.estimationSubsidePC|number }} CHF/an</div>
          </div>
          <div class="table-row total">
            <div>Estimation montant mensuel</div><div flex></div>
            <div>{{ $ctrl.sim.pc.estimationSubsidePCMensuel|number }} CHF/mois</div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!$ctrl.sim.pc.conditions">
      <p>Vous ne pouvez pas bénéficier de prestations complémentaires car vous ne répondez pas aux exigences suivantes:
        <ul>
          <li>vous avez droit à une rente de l’AVS (même en cas d’anticipation), à une rente de l’AI (rente entière, trois quarts
            de rente, demi-rente ou quart de rente), à une allocation pour impotent de l’AI (après 18 ans), ou que vous touchez
            une indemnité journalière de l’AI pendant six mois au moins, et que</li>
          <li>vous avez votre domicile et votre résidence habituelle en Suisse ;</li>
          <li>vous êtes de nationalité suisse ou ressortissant d’un Etat membre de l’UE/AELE, ou que</li>
          <li>vous êtes de nationalité étrangère et avez habité en Suisse de manière ininterrompue durant dix ans. Pour les réfugiés
            et les apatrides, ce délai est de cinq ans.</li>
        </ul>
      </p>
    </div>
    <div layout="row" class="nav-bottom">
      <md-button ui-sref="result" class="md-primary md-hue-2 md-raised">Précédent</md-button>
      <span flex></span>
    </div>
  </div>
</md-content>