<base-nav></base-nav>
<md-content layout-padding>
  <div layout-gt-sm="row">
    <div flex-gt-sm=50>
      <h2>Votre revenu</h2>

      <div layout="column">
        <base-input-container var="revenuNetImposable"></base-input-container>
        <base-input-container var="revenuActiviteLucrative"></base-input-container>
        <base-input-container var="revenuFortune"></base-input-container>

        <h3> Rentes et pensions </h3>

        <div ng-if="$ctrl.sim.personnes[0].estBeneficiaireAVS || $ctrl.sim.personnes[0].estHandicap || $ctrl.sim.personnes[0].estInapteAuTravail">
          <base-input-container var="renteAVSAI"></base-input-container>
        </div>

        <div ng-if="$ctrl.sim.personnes[0].etatCivil === 'V'">
          <base-input-container var="renteSurvivant"></base-input-container>
        </div>

        <base-input-container var="renteAccident"></base-input-container>

        <div ng-if="$ctrl.sim.personnes[0].estRetraite">
          <base-input-container var="rentePrevoyanceProfessionelle"></base-input-container>
          <base-input-container var="rentePrevoyancePrivee"></base-input-container>
        </div>

        <div ng-if="$ctrl.sim.personnes[0].estBeneficiaireRI">
          <base-input-container var="revenuInsertion"></base-input-container>
        </div>


      </div>
    </div>
    <div flex-gt-sm="10">

    </div>
    <div flex-gt-sm="40">
        <img src="../../assets/dedale-horizontal-small.jpg" width="100%">
    </div>
  </div>
  <div layout="row" class="nav-bottom">
    <md-button ui-sref="foyer" class="md-raised">Précédent</md-button>
    <span flex></span>
    <md-button ui-sref="depenses" class="md-primary md-hue-2 md-raised">Suivant</md-button>
  </div>
</md-content>