<div layout-gt-sm="row" flex layout-padding>
  <div flex-gt-sm="50" layout-padding>
    <div class="box-background" md-whiteframe="1">
      <h3>J'estime mes droits sociaux</h3>
      <p>Savez-vous que nombre de personnes <strong>ne perçoivent pas les prestations auxquelles elles auraient droit?</strong></p>
      <p>La Suisse offre une gamme étendue de prestations sociales mais beaucoup de personnes n'en font pas usage.</p>
      <p>Dans le courant de l'année 2018, le site jestime.ch permettra de calculer, pour les habitants des cantons de Suisse latine, une estimation des droits aux diverses prestations en fonction de leur situation personelle.</p>
      <p><i>En attendant l'ouverture du site, vous pouvez déjà tester vos droits à certaines prestations sociales si vous habitez dans les cantons de <strong>Neuchâtel, Vaud et Genève</strong></i>.</p>
      <p><i>Attention, ce site, créé début 2017, est encore en construction: les estimations ne sont pas finalisées!</i></p>

      <div layout="row" layout-align="center center">
        <md-button ng-if="!$ctrl.canContinue()"class="md-raised md-primary md-hue-2" flex="50" target="_blank" download="flyer-jestime.pdf" href="../assets/flyer.pdf">Télécharger le flyer</md-button>
        <md-button ng-if="!$ctrl.canContinue()"class="md-raised md-primary md-hue-2" flex="50" ui-sref="vous">Tester le site</md-button>
        <md-button ng-if="$ctrl.canContinue()" class="md-raised md-primary md-hue-2" flex="50"ng-click="$ctrl.restart()">Recommencer</md-button>
        <md-button ng-if="$ctrl.canContinue()" class="md-raised md-primary md-hue-2" flex="50"ng-click="$ctrl.continue()">Continuer</md-button>
      </div>
    </div>
  </div>
  <div flex-gt-sm="50" layout-padding style="text-align: center">
    <img src="../assets/dedale-horizontal-small.jpg" width="80%">
  </div>
</div>
<div layout-gt-sm="row" class="main-direct-access" layout-padding>
  <div flex-gt-sm="33" layout-padding>
        <md-icon md-font-icon="fa fa-medkit circle"></md-icon>
        <h3>Subsides à l'assurance maladie</h3>
        <p>Vous trouvez vos primes d’assurance maladie trop élevées. Mais savez-vous que les cantons proposent des aides financières ciblées destinées à réduire le coût des primes ?</p>
  </div>
  <div flex-gt-sm="33" layout-padding>
        <md-icon md-font-icon="fa fa-umbrella circle"></md-icon>
        <h3>AVS/AI</h3>
        <p>Vous bénéficiez d’un soutien de l’assurance vieillesse et survivants (AVS) ou invalidité (AI), et pourtant vous éprouvez des difficultés à boucler vos fins de mois. Mais savez-vous que tous les cantons proposent aux personnes à l’AVS/AI des aides financières non remboursables destinées à couvrir leurs besoins ?</p>
  </div>
  <div flex-gt-sm="33" layout-padding>
        <md-icon md-font-icon="fa fa-graduation-cap circle"></md-icon>
        <h3>Bourses d'études</h3>
        <p>Vous-même, ou l’un de vos enfants souhaitez débuter ou continuer des études post-obligatoires, mais vous vous demandez comment assumer financièrement ce projet. Savez-vous que tous les cantons offrent des bourses et des prêts pour mener des études ?</p>
  </div>
</div>