<base-nav></base-nav>
<md-content layout-padding>

  <div layout="column" class="estimation-table-box">
    <h2>Estimation des subsides d'assurance maladie</h2>
    <div ng-if="$ctrl.sim.subsidesLAMALTotal.subsideEstime > 0">
      <table class="col-2">
        <tr>
          <th>Composition du ménage</th>
          <td>{{$ctrl.sim.personnes[0].subsideLamal.menage === "seul" ? "Personne seule" : "Famille" }}</td>
        </tr>
        <tr>
          <th>Subside total minimum</th>
          <td>{{ $ctrl.sim.subsidesLAMALTotal.subsideMin|number }} CHF/mois</td>
        </tr>
        <tr>
          <th>Subside total maximum</th>
          <td>{{ $ctrl.sim.subsidesLAMALTotal.subsideMax|number }} CHF/mois</td>
        </tr>
        <tr>
          <th>Revenu déterminant pour les subsides</th>
          <td>{{ $ctrl.sim.subsidesLAMALTotal.rduLAMAL|number:0 }} CHF/année</td>
        </tr>

        <tr class="total total-border">
          <th>Subside total estimé</th>
          <td>{{ $ctrl.sim.subsidesLAMALTotal.subsideEstime|number:0 }}  CHF/mois</td>
        </tr>
      </table>

      <md-checkbox class="md-primary" ng-model="details" aria-label="Détails">Voir les détails de l'estimation
      </md-checkbox>
      <table class="col-2" ng-if="details" ng-repeat="personne in $ctrl.sim.personnes">
        <caption>
          <h3>{{ personne.prenom}}</h3>
        </caption>
        <tr>
          <th>Tranche d'âge</th>
          <td>{{personne.subsideLamal.ageMin}} à {{personne.subsideLamal.ageMax}} ans{{personne.subsideLamal.formation ? ", en formation" : ""}}</td>
        </tr>
        <tr>
          <th>Revenu déterminant pour les subsides</th>
          <td>{{personne.subsideLamal.rduLAMAL|number:0 }} CHF/année</td>
        </tr>
        <tr>
          <th>Catégorie de revenu</th>
          <td>{{personne.subsideLamal.rduMin|number}} à {{personne.subsideLamal.rduMax|number}} CHF/an</td>
        </tr>

        <tr>
          <th>Subside minimum</th>
          <td>{{ personne.subsideLamal.subsideMin|number }} CHF/mois</td>
        </tr>
        <tr>
          <th>Subside maximum</th>
          <td>{{ personne.subsideLamal.subsideMax|number }} CHF/mois</td>
        </tr>

        <tr class="total total-border">
          <th>Subside estimé</th>
          <td>{{ personne.subsideLamal.subsideEstime|number:0 }}  CHF/mois</td>
        </tr>
      </table>
    </div>
    <div ng-if="$ctrl.sim.subsidesLAMALTotal.subsideEstime == 0">
      <p>Votre situation financière ne vous permet pas de prétendre à des subsides pour l'assurance maladie obligatoire (LAMAL).
      </p>
    </div>
    <div layout="row" class="nav-bottom">
      <md-button ui-sref="result" class="md-primary md-hue-2 md-raised">Précédent</md-button>
      <span flex></span>
    </div>
  </div>
</md-content>
