@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'nowbold';
    src: url('assets/fonts/now-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/now-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$primary-color: #3795C2;

h2, h3 {
  color: $primary-color;
  font-family: 'nowbold', 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
  margin-top: 0;
  font-weight: normal;
}

button, html, input, select, textarea {
  font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
}

.nowrap {
  white-space: nowrap
}


.estimation-table-box {
  max-width: 760px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 2px 0;
}

th {
  text-align: left;
}

table.col-2 td:nth-child(2) {
  text-align: right;
}

.md-icon-right .fa.fa-info-circle{
  color: $primary-color;
  cursor: pointer;
}

base-nav, .base-nav {
  .md-button {
    font-weight: bold;
    border-radius: 0;
    margin: 0;
    text-transform: none;
    padding: 8px;
  }
  .nav-main {
    color: #fff;
    background-color: $primary-color;
    .active, .md-button.active {
      color: $primary-color;
      background-color: #fff;
    }
    .fa.fa-play {
      color: #fff;
      padding: 0 6px;
      font-size: 10px;
    }
  }
  .nav-sub {
    color: #969696;
    .active, .md-button.active {
      color: #333;
    }
    .fa.fa-play {
      font-size: 10px;
    }
  }
}

.helpComponent {
  clear: both;
  .md-button {
    font-size: 16px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 2px;
    top: 2px;
  }
}

.md-button.md-icon-button.helpCheckbox {
  font-size: 16px;
  margin: 0 0 4px 0;
  .fa.fa-info-circle {
    color: $primary-color;
  }
}

.helpBox {
    background-color: rgba(241, 241, 241, 0.95);;
    position: relative;
    color: $primary-color;
    padding: 24px;
    font-size: 14px;
    .md-button {
      right: -6px;
      top: -6px;
    }
}

.helpBoxCol2 {
    position: absolute;
    width: 80%;
    left: 110%;
    top: 8px;
}

.nav-bottom .md-button {
  min-width: 150px;
  margin-top: 50px;

}

.total {
  td, th {
    border-top: 1px solid #333;
    padding-bottom:  1em;
    color: $primary-color;
    font-weight: normal;
  }
}

.primary-color {
  color: $primary-color;
}

md-content {
  background-color:  #fff;
}

app-header .md-toolbar-tools {
  margin: 10px;
}

app-header .md-toolbar-tools h2 {
  font-weight: 900;
  font-size: 1.8em;
  color: #fff;
  font-family: 'nowbold', 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
}

app-header .subtitle {
  height: 23px;
  padding-left: 2em;
}

.main-direct-access, .result-direct-access{
  margin-top: 40px;
  p, h3 {
    margin: 0;
    padding: 0;
  }
  md-icon {
    font-size: 50px;
    color: $primary-color;
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    margin: 8px auto;
    display: block;
  }
  .fa.circle {
    border: 5px solid $primary-color;
    border-radius: 50%;
  }
}

.result-direct-access {
  text-align: center;
  .big-result {
    font-size: 60px;
    color: $primary-color;
    font-weight: bold;
  }
}

.restart {
  md-icon {
    color: #fff;
  }
}

#beta-ribbon {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 26px;
    right: -35px;
    transform: rotate(45deg);
    width: 150px;
    background-color: #008cba;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.47);
}

.box-background {
  background-color: $primary-color;
  color: #fff;
  padding: 16px;
  h3 {
    color: #fff;
  }
}

html, body {
	height: 100%;
}

body {
  overflow-x: hidden;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
  background-color: #fff;
}
.footer, .push {
	height: 140px;
}
.footer {
  background-color: #F5F5F5;
  color: #333;
}

.avatar-box {
  position: relative;
  margin: 8px;
  text-align: center;

  .fa.circle {
    font-size: 60px;
    color: $primary-color;
    height: 60px;
    line-height: 70px;
    width: 60px;
    text-align: center;
    margin: 8px auto;
    display: block;
    border: 5px solid $primary-color;
    border-radius: 50%;
  }
  .close {
    position: absolute;
    font-size: 16px;
    top: -4px;
    right: -4px;
    margin: 0;
  }
}

.avatar-box.active {
  .avatar-box-inner {
    color: #fff;
    background-color: $primary-color;
  }
  .fa.circle, .close .fa {
    color: #fff;
    border-color: #fff;
  }
}

.avatar-box:focus {
    outline: none;
}

.avatar-box-inner {
  box-sizing: border-box;
  height: 150px;
  width: 140px;
  padding: 8px;
  margin: 0;
  color: $primary-color;
  background-color: #F5F5F5;

  span {
    font-weight: bold;
  }
}

.avatar-box-inner.add {
  text-transform: none;
  white-space: normal;
  line-height: normal;
  .fa {
    font-size: 60px;
    color: $primary-color;
    height: 60px;
    line-height: 70px;
    width: 60px;
    text-align: center;
    margin: 8px auto;
    display: block;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 70px 0 70px;
  border-color: $primary-color transparent transparent transparent;
}

.content {
  position: relative;
}

.fade.ng-enter,
.fade.ng-leave{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.fade.ng-enter{
    opacity: 0;
}
.fade.ng-enter-active{
    opacity: 1;
}
.fade.ng-leave{
    opacity: 1;
}
.fade.ng-leave-active{
    opacity: 0;
}
