@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'nowbold';
    src: url('assets/fonts/now-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/now-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$primary-color: #3795C2;

h2, h3 {
  color: $primary-color;
  font-family: 'nowbold', 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
  margin-top: 0;
}

button, html, input, select, textarea {
  font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
}


table {
  width: 100%;
}

th {
  text-align: left;
}


table.col-2 td:nth-child(2) {
  text-align: right;
}

.md-icon-right .fa.fa-info-circle{
  color: $primary-color;
  cursor: pointer;
}

base-nav {
  .md-button {
    font-weight: bold;
    border-radius: 0;
    margin: 0;
    text-transform: none;
    padding: 8px;
  }
  .nav-main {
    color: #fff;
    background-color: $primary-color;
    .active, .md-button.active {
      color: $primary-color;
      background-color: #fff;
    }
    .fa.fa-play {
      color: #fff;
      padding: 0 6px;
      font-size: 10px;
    }
  }
  .nav-sub {
    color: #969696;
    .active, .md-button.active {
      color: #333;
    }
    .fa.fa-play {
      font-size: 10px;
    }
  }
}

.helpComponent {
  clear: both;
  .md-button {
    font-size: 16px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 2px;
    top: 2px;
  }
}

.helpBox {
    background-color: rgba(241, 241, 241, 0.95);;
    position: relative;
    color: $primary-color;
    padding: 24px;
    font-size: 14px;
    .md-button {
      right: -6px;
      top: -6px;
    }
}

.helpBoxCol2 {
    position: absolute;
    width: 80%;
    left: 113%;
    top: 8px;
}

.nav-bottom .md-button {
  min-width: 150px;

}

.total {
  td, th {
    border-top: 2px solid $primary-color;
    padding-bottom:  1em;
  }
}

md-content {
  background-color:  #fff;
}

app-header .md-toolbar-tools {
  margin: 10px;
}

app-header .md-toolbar-tools h2 {
  font-weight: 900;
  font-size: 1.8em;
  color: #fff;
  font-family: 'nowbold', 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
}

app-header .subtitle {
  height: 23px;
  padding-left: 2em;
}

.main-direct-access, .result-direct-access{
  margin-top: 40px;
  p, h3 {
    margin: 0;
    padding: 0;
  }
  md-icon {
    font-size: 50px;
    color: $primary-color;
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    margin: 8px auto;
    display: block;
  }
  .fa.circle {
    border: 5px solid $primary-color;
    border-radius: 50%;
  }
}

.result-direct-access {
  text-align: center;
  .big-result {
    font-size: 60px;
    color: $primary-color;
    font-weight: bold;
  }
}

#beta-ribbon {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 26px;
    right: -35px;
    transform: rotate(45deg);
    width: 150px;
    background-color: #008cba;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.47);
}

.box-background {
  background-color: $primary-color;
  color: #fff;
  padding: 16px;
  h3 {
    color: #fff;
  }
}

html, body {
	height: 100%;
}

body {
  overflow-x: hidden;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
  background-color: #fff;
}
.footer, .push {
	height: 140px;
}
.footer {
  background-color: #F5F5F5;
  color: #333;
}

.avatar-box {
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  margin: 16px;
  padding: 8px;

  span {
    font-weight: bold;
  }
}

.avatar-box.add {
  border: 2px dotted #333;
  font-size: 2em;
  font-weight: bold;
}

