@import url('https://fonts.googleapis.com/css?family=Open+Sans');

button, html, input, select, textarea {
  font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
}

.active {
  background-color: #2196F3;
  color: #fff;
}

#beta-ribbon {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 26px;
    right: -35px;
    transform: rotate(45deg);
    width: 150px;
    background-color: #008cba;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    z-index: 10;
}

.box-background {
  background-color: #fff;
}

html, body {
	height: 100%;
}

body {
  overflow-x: hidden;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push {
	height: 4em;
}
.footer {
  background-color: #333;
  color: #fff;
}

.avatar-box {
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  margin: 16px;
  padding: 8px;

  span {
    font-weight: bold;
  }
}

.avatar-box.add {
  border: 2px dotted #333;
  font-size: 2em;
  font-weight: bold;
}

