<base-nav></base-nav>
<md-content layout-padding>
  <h2>Votre foyer</h2>
  <p>Indiquez les personnes résidant avec vous.</p>
  <div layout="row" layout-wrap>
    <div class="avatar-box" ui-sref="vous">
      <div class="avatar-box-inner">
        <md-icon md-font-icon="fa fa-user circle"></md-icon>
        <span>{{$ctrl.sim.personnes[0].prenom}}</span>
      </div>
    </div>

    <div class="avatar-box" ng-class="{'active': $ctrl.personne == personne}"  ng-repeat="personne in $ctrl.sim.personnes.slice(1)" ng-click="$ctrl.personne = personne">
      <div class="avatar-box-inner">
        <md-icon md-font-icon="fa fa-user circle"></md-icon>
        <span>{{personne.prenom}}</span>

        <md-button aria-label="supprimer" class="md-icon-button close" ng-click="$ctrl.removePerson(personne)">
          <md-icon md-font-icon="fa fa-times-circle"></md-icon>
        </md-button>
      </div>
      <div class="arrow-down" ng-if="$ctrl.personne == personne"></div>
    </div>
    <div class="avatar-box">
      <md-button class="avatar-box-inner add" ng-click="$ctrl.addPerson()">
        <md-icon md-font-icon="fa fa-plus-circle"></md-icon>
        Ajouter une personne
      </md-button>
    </div>
  </div>
  <div layout-gt-sm="row">
    <div flex-gt-sm=50>

      <div ng-if="$ctrl.personne" layout="column">
        <base-personne personne="$ctrl.personne"></base-personne>
      </div>
    </div>
    <div flex-gt-sm="10">

    </div>
    <div flex-gt-sm="40">
      <img src="../../assets/dedale-horizontal-small.jpg" width="100%">
    </div>
  </div>
  <div layout="row" class="nav-bottom">
    <md-button ui-sref="vous" class="md-raised">Précédent</md-button>
    <span flex></span>
    <md-button ui-sref="statut" class="md-primary md-hue-2 md-raised">Suivant</md-button>
  </div>

</md-content>