<base-nav></base-nav>
<md-content layout-padding>
  <div class="box-background" md-whiteframe="1">
    <h2>Votre foyer</h2>

    <div layout="row" layout-wrap>
      <div class="avatar-box" md-whiteframe="1" ui-sref="vous">
        <span>{{$ctrl.sim.personnes[0].prenom}}</span>
        {{$ctrl.sim.personnes[0].dateNaissance | date}}
      </div>

      <div class="avatar-box" md-whiteframe="1" ng-repeat="personne in $ctrl.sim.personnes.slice(1)" ng-click="$ctrl.personne = personne">
        <span>{{personne.prenom}}</span>
        {{personne.dateNaissance | date}}

        <md-button class="md-warn md-icon-button" aria-label="supprimer" ng-click="$ctrl.removePerson(personne)">
          <md-icon>delete</md-icon>
        </md-button>
      </div>

      <md-button class="avatar-box add" ng-click="$ctrl.addPerson()">
        <span>+</span>
      </md-button>
    </div>

    // TODO: maybe add partner? constraints?
    // add other none family?
    <div ng-if="$ctrl.personne" layout="column">
      <p>Edit details (maybe popup?)</p>

      <base-personne personne="$ctrl.personne"></base-personne>
    </div>

    <div layout="row">
      <md-button ui-sref="vous" class="md-raised">Précédent</md-button>
      <span flex></span>
      <md-button ui-sref="logement" class="md-primary md-raised">Suivant</md-button>
    </div>
  </div>
</md-content>
