<base-nav></base-nav>
<md-content layout-padding>
  <div class="box-background" md-whiteframe="1">
    <h2>Votre logement principal</h2>

    <md-radio-group ng-model="$ctrl.sim.logement" class="md-primary" layout="row">
        <md-radio-button value="estLocataire">Locataire</md-radio-button>
        <md-radio-button value="estProprietaire">Propriétaire</md-radio-button>
        <md-radio-button value="estEMS">Maison de retraite</md-radio-button>
    </md-radio-group>


    <div ng-if="$ctrl.sim.etatCivil == 'Marié' || $ctrl.sim.etatCivil == 'Partenariat'">
      <md-input-container layout="column">
        <md-checkbox ng-if="$ctrl.sim.logement == 'estProprietaire'" ng-model="$ctrl.sim.aConjointEMS" aria-label="Etudiant">Conjoint en EMS</md-checkbox>
        <md-checkbox ng-if="$ctrl.sim.logement == 'estEMS'" ng-model="$ctrl.sim.aConjointProprietaire" aria-label="Etudiant">Conjoint proprietaire</md-checkbox>
      </md-input-container>
    </div>

<!-- TODO: Adapter pour objet lieuLogement -->
    <div layout="column">
      <md-autocomplete
          md-selected-item="$ctrl.selectedItem"
          md-search-text="$ctrl.searchText"
          md-items="item in $ctrl.filterList($ctrl.searchText)"
          md-item-text="item.label"
          md-min-length="3"
          md-require-match
          md-floating-label="NPA / Commune?"
          placeholder="NPA / Commune?">
        <md-item-template>
          <span md-highlight-text="$ctrl.searchText" md-highlight-flags="i">{{item.label}}</span>
        </md-item-template>
        <md-not-found>
          No entry matching "{{$ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>

    </div>
    TODO demander s'il possède d'autres biens immobiliers ici?
    <div layout="row">
      <md-button ui-sref="foyer" class="md-raised">Précédent</md-button>
      <span flex></span>
      <md-button ui-sref="statut" class="md-primary md-raised">Suivant</md-button>
    </div>
  </div>
</md-content>