<div layout="row" layout-align="start center" class="nav-main" layout-wrap>
  <md-button ng-class="{active: $ctrl.isBase()}" ng-disabled="$ctrl.isBase()" ui-sref="vous"><md-icon ng-if="todo_done_state" md-font-icon="fa fa-check-circle"></md-icon> Votre Foyer</md-button>
  <md-icon md-font-icon="fa fa-play"></md-icon>
  <md-button ng-class="{active: $ctrl.isFinance()}" ng-disabled="$ctrl.isFinance()" ui-sref="revenu">Vos finances</md-button>
  <md-icon md-font-icon="fa fa-play"></md-icon>
  <md-button ui-sref-active="active" ui-sref="result">Résultats</md-button>
  <md-icon ng-if="$ctrl.isPC() || $ctrl.isLamal() || $ctrl.isBourse()" md-font-icon="fa fa-play"></md-icon>
  <md-button ng-if="$ctrl.isPC()" ng-class="{active: $ctrl.isPC()}" ng-disabled="$ctrl.isPC()"  ui-sref="pcEstimation">PC</md-button>
  <md-button ng-if="$ctrl.isLamal()" ng-class="{active: $ctrl.isLamal()}" ng-disabled="$ctrl.isLamal()" ui-sref="lamalEstimation">LAMAL</md-button>
  <md-button ng-if="$ctrl.isBourse()" ng-class="{active: $ctrl.isBourse()}" ng-disabled="$ctrl.isBourse()" ui-sref="bourseEstimation">Bourse</md-button>

  <span flex></span>
  <md-button class="restart" ng-click="$ctrl.restart()"><md-icon md-font-icon="fa fa-repeat"></md-icon> Recommencer</md-button>
</div>
<div class="nav-sub" layout="row" layout-align="start center" layout-wrap>
    <div ng-if="$ctrl.isBase()" class="nav-part">
        <md-button ui-sref-active="active" ui-sref="vous">Vous</md-button>
        <md-icon md-font-icon="fa fa-play"></md-icon>
        <md-button ui-sref-active="active" ui-sref="foyer">Foyer</md-button>
  </div>
  <div ng-if="$ctrl.isFinance()">
      <md-button ui-sref-active="active" ui-sref="revenu">Revenu</md-button>
      <md-icon md-font-icon="fa fa-play"></md-icon>
      <md-button ui-sref-active="active" ui-sref="depenses">Dépenses</md-button>
      <md-icon md-font-icon="fa fa-play"></md-icon>
      <md-button ui-sref-active="active" ui-sref="fortune">Fortune</md-button>
  </div>
  <div ng-if="$ctrl.isBourse()" class="nav-part">
      <md-button ui-sref-active="active" ui-sref="bourse.formation({index: $ctrl.getIndex()})">Formation</md-button>
      <md-icon md-font-icon="fa fa-play"></md-icon>
      <md-button ui-sref-active="active" ui-sref="bourse.revenusAuxiliaires({index: $ctrl.getIndex()})">Revenu</md-button>
      <md-icon md-font-icon="fa fa-play"></md-icon>
      <md-button ui-sref-active="active" ui-sref="bourse.parents({index: $ctrl.getIndex()})">Parents</md-button>
      <md-icon md-font-icon="fa fa-play"></md-icon>
      <md-button ui-sref-active="active" ui-sref="bourseEstimation">Estimation</md-button>
  </div>

</div>