<div layout="column">
  <md-input-container>
    <label>Prénom</label>
    <input type="text" ng-model="$ctrl.personne.prenom">
  </md-input-container>

  <base-input-container src="$ctrl.personne" var="personne.age"></base-input-container>

  <md-input-container ng-if="$ctrl.personne.estAdulte">
    <label>Etat civil</label>
    <md-select ng-model="$ctrl.personne.etatCivil">
      <md-option value="C" >Célibataire</md-option>
      <md-option value="M">Marié</md-option>
      <md-option value="D">Divorcé</md-option>
      <md-option value="V">Veuf</md-option>
      <md-option value="P">Partenariat enregistré</md-option>
      <md-option value="U">Union libre</md-option>
    </md-select>
  </md-input-container>

  <div ng-if="$ctrl.personne.etatCivil == 'M' || $ctrl.sim.personne.etatCivil == 'P'">
      <md-input-container layout="column">
        <base-checkbox ng-if="$ctrl.sim.estProprietaire" var="aConjointEMS"></base-checkbox>
        <base-checkbox ng-if="$ctrl.sim.estEMS" var="aConjointProprietaire"></base-checkbox>
      </md-input-container>
    </div>

  <h3>Êtes-vous</h3>
  <md-input-container  layout="column">
    <base-checkbox ng-if="!$ctrl.personne.estAdulte" src="$ctrl.personne" var="personne.estGardeAlternee"></base-checkbox>
    <base-checkbox src="$ctrl.personne" var="personne.estEtudiant"></base-checkbox>

    <md-input-container ng-if="$ctrl.personne.estEtudiant">
      <label>Type de formation</label>
      <md-select ng-model="$ctrl.personne.niveauEtude">
        <md-option ng-repeat ="(key, value) in $ctrl.niveauxEtudes" value="{{key}}">{{value.label}}</md-option>
      </md-select>
    </md-input-container>
  </md-input-container >

  <h3>Vous recevez déjà (plusieurs choix possibles):</h3>
  <md-input-container  layout="column">
    <base-checkbox src="$ctrl.personne" var="personne.estBeneficiaireRien"></base-checkbox>
    <base-checkbox src="$ctrl.personne" var="personne.estBeneficiaireAVS"></base-checkbox>
    <base-checkbox src="$ctrl.personne" var="personne.estBeneficiaireAI"></base-checkbox>
    <div class="tauxInvalidite" ng-if="$ctrl.personne.estBeneficiaireAI">
      <p>Taux d'invalidité:</p>
      <md-radio-group ng-model="$ctrl.personne.tauxInvalidite" class="md-primary" layout="row">
        <md-radio-button value="M70" aria-label="Moins de 70%">
          moins de 70%
        </md-radio-button>
        <md-radio-button value="P70" aria-label="70% et plus">
          70% et plus
        </md-radio-button>
      </md-radio-group>
    </div>
    <base-checkbox src="$ctrl.personne" var="personne.estBeneficiairePC"></base-checkbox>
    <base-checkbox src="$ctrl.personne" ng-if="$ctrl.personne.estAdulte"var="personne.estBeneficiaireRI"></base-checkbox>
    <base-checkbox src="$ctrl.personne" var="personne.estBeneficiaireAutre"></base-checkbox>
    <md-input-container ng-if="$ctrl.personne.estBeneficiaireAutre">
      <label>Autre</label>
      <input type="text" ng-model="$ctrl.personne.autresPrestations">
    </md-input-container>
  </md-input-container >
</div>